@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: poppins;
}

header
{
    width: 100vw;
    height: 50px;
    background-color: #6A89A6;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    z-index: 2;
    overflow: hidden;
}

header .logo a h2
{
    color: white;
    font-weight: 900;
}


header nav a
{
    color: white;
    font-weight: 600;
    padding: 20px 20px;
    
}

header nav a:hover
{
    background-color: white;
    color: #6A89A6;
    transition: all .8s ease-in-out;
}


.hero
{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("/wp7740421-white-anime-wallpapers.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero .intro
{
    text-align: center;
    color: #86613A;
}

.hero .intro .btn
{
    padding: 10px 20px;
    background: none;
    outline: none;
    border: 1px solid #86613A;
    margin-top: 5px;
    color: #86613A;
    font-weight: 500;
}


.hero .intro .btn:hover
{
    background-color: #86613A;
    color: white;
    transition: all .8s ease-in-out;
}

.con
{
    width: 100vw;
    height: 100vh;
    
  
}

.about
{
    width: 100vw;
    height: 100%;
    margin-top: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;

}
.con h1{
    text-align: center;
}

.about .card
{
    text-align: center;
    width: 300px;
    height: 300px;
    border: 1px solid #6A89A6;
}

.about .card .img,
.about .card .details
{
    height: 50%;
    width: 100%
}

.about .card .details
{
    background-color: #6A89A6;
    color: white;
    padding-top: 20px;
}

.skillCon
{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    margin: 70px 0;
}

.skillCon .skill
{
    width: 40%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}


.skillCon .gellery
{
    width: 60%;
    height: auto;
}

.skillCon .skillImg
{
    width: 100%;
    height: 100%;
    display: grid;
    gap: 8px;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 120px;
}

.box
{
    background-position: top;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 800;
    transition: all .5s ease-in-out;

}

.row-2
{
    grid-row: span 2;
}

.col-2
{
    grid-column: span 2;
}


.box:hover
{
    background-position: center;

}

.contact
{
 width: 100%;
 height: 100vh;
}

.contact h1
{
    text-align: center;
}

.conBOX
{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.conBOX form input
{
  width: 100%;
  height: 40px;
  outline: none;
  border: 1px solid #6A89A6;
  margin: 5px 0;
}

.conBOX form .btn{
    padding: 10px 20px;
    background: #6A89A6;
    outline: none;
    border: 1px solid #6A89A6;
    margin-top: 5px;
    color: white;
    font-weight: 500;
}

footer
{
    background-color: #6A89A6;
    width: 100%;
    height: 100px;
    margin-top: 10px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}